In [1]:
import time
import read_espn
import pandas as pd
import os

In [3]:
gameids, results = read_espn.get_gameid(2017,4)
print(gameids)
print(results)

['400951678', '400950241', '400951685', '400951712', '400951716', '400951724', '400951727', '400951730', '400951708', '400951720', '400951735', '400951738', '400951742', '400951744', '400951747', '400951752']
{'400951678': 'GB 35, CHI 14', '400950241': 'NO 20, MIA 0', '400951685': 'BUF 23, ATL 17', '400951712': 'CIN 31, CLE 7', '400951716': 'LAR 35, DAL 30', '400951724': 'DET 14, MIN 7', '400951727': 'CAR 33, NE 30', '400951730': 'NYJ 23, JAX 20 (OT)', '400951708': 'PIT 26, BAL 9', '400951720': 'HOU 57, TEN 14', '400951735': 'ARI 18, SF 15 (OT)', '400951738': 'PHI 26, LAC 24', '400951742': 'TB 25, NYG 23', '400951744': 'DEN 16, OAK 10', '400951747': 'SEA 46, IND 18', '400951752': 'KC 29, WSH 20'}

In [4]:
gameids, results = read_espn.get_gameid(2018,4)
print(gameids)
print(results)

['401030839', '401030847', '401030846', '401030845', '401030844', '401030842', '401030843', '401030841', '401030840', '401030930', '401030848', '401030931', '401030932', '401030933', '401030934']
{'401030839': [], '401030847': [], '401030846': [], '401030845': [], '401030844': [], '401030842': [], '401030843': [], '401030841': [], '401030840': [], '401030930': [], '401030848': [], '401030931': [], '401030932': [], '401030933': [], '401030934': []}

In [5]:
def weekly_games(season,week):
    gameids, results = read_espn.get_gameid(season,week)
    data = [ 
        {
            'gameid':gid,
            'season':season,
            'week':week,
            'result':results[gid]
        } for i, gid in enumerate(gameids)
    ]
    gamedata_df = pd.DataFrame(data)
    # Set the gameId as the unique identifier for each row
    gamedata_df['gameid'] = gamedata_df['gameid'].astype(str)
    gamedata_df.set_index('gameid', inplace=True)
    return gamedata_df

In [6]:
weekly_games(2018,4)

          result  season  week
gameid
401030839     []    2018     4
401030847     []    2018     4
401030846     []    2018     4
401030845     []    2018     4
401030844     []    2018     4
401030842     []    2018     4
401030843     []    2018     4
401030841     []    2018     4
401030840     []    2018     4
401030930     []    2018     4
401030848     []    2018     4
401030931     []    2018     4
401030932     []    2018     4
401030933     []    2018     4
401030934     []    2018     4

In [7]:
# Given a dataframe whose index consists of gameids
# Scrape drive and play-by-play data for the games

def scrape_gameset(games_df):
    # List of DFs for each game
    pbp_list = []
    drivelevel_list = []
    game_home = {}
    game_away = {}
    
    for gid in games_df.index:
        try:
            print(gid)
            pbp_df, drives_df = read_espn.get_game_df(gid)
            # Add column for gameid
            pbp_df['gameid'] = gid
            drives_df['gameid'] = gid
            # Extract home/away from game df
            game_home[gid] = pbp_df['home'].values[0]
            game_away[gid] = pbp_df['away'].values[0]
            
            pbp_list.append(pbp_df)
            drivelevel_list.append(drives_df)
            
        except:
            print("Failed to scrape gameid",gid)
            
        time.sleep(0.25)
        
    # Merge DFs together
    allplays_df = pd.concat(pbp_list)
    alldrives_df = pd.concat(drivelevel_list)
    
    # Add home/away coloumns to games_df
    games_df['home'] = pd.Series(game_home)
    games_df['away'] = pd.Series(game_away)
    
    return (games_df, alldrives_df, allplays_df)

In [8]:
read_espn.get_game_df('400951620')

(                downdist                                             detail  \
 0                     []  (15:00 - 1st) R.Bullock kicks 65 yards from CI...
 1   [1st & 10 at HOU 25]  (15:00 - 1st)  L.Miller right guard to HST 29 ...
 2    [2nd & 6 at HOU 29]  (14:25 - 1st)  D.Watson pass incomplete short ...
 3    [3rd & 6 at HOU 29]  (14:19 - 1st)  (Shotgun) D.Watson pass incompl...
 4    [4th & 6 at HOU 29]  (14:14 - 1st)  S.Lechler punts 58 yards to CIN...
 0   [1st & 10 at CIN 46]  (13:59 - 1st)  J.Hill right tackle to HST 49 f...
 1    [2nd & 5 at HOU 49]  (13:24 - 1st)  A.Dalton pass short left to A.G...
 2   [2nd & 14 at CIN 42]  (13:01 - 1st)  (Shotgun) A.Dalton pass short m...
 3    [3rd & 8 at CIN 48]  (12:28 - 1st)  (Shotgun) A.Dalton sacked at CI...
 4   [4th & 12 at CIN 44]  (12:21 - 1st)  (Punt formation) PENALTY on CIN...
 5   [4th & 17 at CIN 39]  (12:09 - 1st)  K.Huber punts 58 yards to HST 3...
 0    [1st & 10 at HOU 3]  (11:59 - 1st)  L.Miller left end to HST 3 for ...
 1    [2nd & 10 at HOU 3]  (11:38 - 1st)  (Shotgun) D.Watson pass short r...
 2     [3rd & 5 at HOU 8]  (10:56 - 1st)  L.Miller right end to HST 10 fo...
 3    [4th & 3 at HOU 10]  (10:19 - 1st)  S.Lechler punts 53 yards to CIN...
 0   [1st & 10 at CIN 45]  (10:07 - 1st)  J.Mixon up the middle to CIN 47...
 1        [1st & 5 at 50]  (9:48 - 1st)  A.Dalton pass incomplete deep ri...
 2        [2nd & 5 at 50]  (9:42 - 1st)  J.Mixon left end to HST 48 for 2...
 3    [3rd & 3 at HOU 48]  (8:59 - 1st)  (Shotgun) A.Dalton pass short le...
 4    [4th & 1 at HOU 46]  (8:23 - 1st)  K.Huber punts 31 yards to HST 15...
 0   [1st & 10 at HOU 15]  (8:15 - 1st)  D.Watson pass short right to B.M...
 1    [2nd & 2 at HOU 23]  (7:36 - 1st)  D.Foreman left guard to HST 32 f...
 2   [1st & 10 at HOU 32]  (7:01 - 1st)  D.Foreman up the middle to HST 3...
 3                     []           (6:13 - 1st) Timeout #1 by HST at 06:13.
 4    [2nd & 5 at HOU 37]  (6:13 - 1st)  (Shotgun) D.Watson pass incomple...
 5    [3rd & 5 at HOU 37]  (6:10 - 1st)  (Shotgun) D.Watson sacked at HST...
 6   [4th & 19 at HOU 23]  (5:28 - 1st)  S.Lechler punts 42 yards to CIN ...
 0   [1st & 10 at HOU 39]  (5:13 - 1st)  A.Dalton pass short left to G.Be...
 1   [1st & 15 at HOU 44]  (4:46 - 1st)  J.Ross left end to HST 32 for 12...
 0   [1st & 10 at CIN 20]  (4:32 - 1st)  D.Foreman left tackle to CIN 15 ...
 ..                   ...                                                ...
 4   [1st & 10 at HOU 25]  (7:01 - 4th)  L.Miller left tackle to HST 28 f...
 5    [2nd & 7 at HOU 28]  (6:31 - 4th)  (Shotgun) D.Watson pass incomple...
 6    [3rd & 7 at HOU 28]  (6:25 - 4th)  (Shotgun) D.Watson pass short le...
 7   [1st & 10 at HOU 37]  (5:46 - 4th)  L.Miller left tackle to HST 39 f...
 8    [2nd & 8 at HOU 39]  (5:04 - 4th)  (Shotgun) L.Miller left tackle t...
 9   [1st & 10 at CIN 42]  (4:22 - 4th)  (Shotgun) D.Watson pass short le...
 10   [2nd & 1 at CIN 33]  (4:14 - 4th)  D.Foreman left tackle to CIN 29 ...
 11  [1st & 10 at CIN 29]  (3:40 - 4th)  (Shotgun) D.Watson pass incomple...
 12  [1st & 20 at CIN 39]  (3:33 - 4th)  (Shotgun) D.Watson pass short le...
 13  [2nd & 18 at CIN 37]  (2:51 - 4th)  (Shotgun) L.Miller left guard to...
 14  [3rd & 16 at CIN 35]  (2:09 - 4th)  (Shotgun) D.Watson scrambles up ...
 15   [4th & 5 at CIN 24]     (1:56 - 4th) Ka'imi Fairbairn 42 Yd Field Goal
 16                    []                    (1:56 - 4th) Two-Minute Warning
 0                     []  (1:56 - 4th) K.Fairbairn kicks 69 yards from H...
 1   [1st & 10 at CIN 31]  (1:50 - 4th)  (Shotgun) A.Dalton pass short le...
 2   [1st & 10 at CIN 43]  (1:45 - 4th)  (Shotgun) A.Dalton pass incomple...
 3   [2nd & 10 at CIN 43]  (1:42 - 4th)  (Shotgun) A.Dalton pass short ri...
 4    [3rd & 4 at CIN 49]  (1:20 - 4th)  (Shotgun) A.Dalton pass incomple...
 5    [4th & 4 at CIN 49]  (1:13 - 4th)  (Shotgun) PENALTY on CIN-J.Fishe...
 6    [4th & 9 at CIN 44]  (1:13 - 4th)  (Shotgun) A.Dalton pass incomple...
 0   [1st & 10 at CIN 44]  (1:08 - 4th)  (Shotgun) PENALTY on HST-J.Daven...
 1   [1st & 15 at CIN 49]  (1:08 - 4th)  L.Miller up the middle to CIN 43...
 2                     []           (1:02 - 4th) Timeout #2 by CIN at 01:02.
 3    [2nd & 9 at CIN 43]  (1:02 - 4th)  L.Miller left tackle to CIN 38 f...
 4                     []           (0:57 - 4th) Timeout #3 by CIN at 00:57.
 5    [3rd & 4 at CIN 38]  (0:57 - 4th)  L.Miller up the middle to CIN 40...
 6                     []           (0:12 - 4th) Timeout #1 by HST at 00:12.
 7    [4th & 6 at CIN 40]  (0:12 - 4th)  S.Lechler punts 30 yards to CIN ...
 0   [1st & 10 at CIN 20]  (0:02 - 4th)  (Shotgun) A.Dalton pass short mi...
 1                     []                                           END GAME

     play_num home away possession home_score_before away_score_before  \
 0          1  HOU  CIN        HOU                 0                 0
 1          2  HOU  CIN        HOU                 0                 0
 2          3  HOU  CIN        HOU                 0                 0
 3          4  HOU  CIN        HOU                 0                 0
 4          5  HOU  CIN        HOU                 0                 0
 0          1  HOU  CIN        CIN                 0                 0
 1          2  HOU  CIN        CIN                 0                 0
 2          3  HOU  CIN        CIN                 0                 0
 3          4  HOU  CIN        CIN                 0                 0
 4          5  HOU  CIN        CIN                 0                 0
 5          6  HOU  CIN        CIN                 0                 0
 0          1  HOU  CIN        HOU                 0                 0
 1          2  HOU  CIN        HOU                 0                 0
 2          3  HOU  CIN        HOU                 0                 0
 3          4  HOU  CIN        HOU                 0                 0
 0          1  HOU  CIN        CIN                 0                 0
 1          2  HOU  CIN        CIN                 0                 0
 2          3  HOU  CIN        CIN                 0                 0
 3          4  HOU  CIN        CIN                 0                 0
 4          5  HOU  CIN        CIN                 0                 0
 0          1  HOU  CIN        HOU                 0                 0
 1          2  HOU  CIN        HOU                 0                 0
 2          3  HOU  CIN        HOU                 0                 0
 3          4  HOU  CIN        HOU                 0                 0
 4          5  HOU  CIN        HOU                 0                 0
 5          6  HOU  CIN        HOU                 0                 0
 6          7  HOU  CIN        HOU                 0                 0
 0          1  HOU  CIN        CIN                 0                 0
 1          2  HOU  CIN        CIN                 0                 0
 0          1  HOU  CIN        HOU                 0                 0
 ..       ...  ...  ...        ...               ...               ...
 4          5  HOU  CIN        HOU                10                 9
 5          6  HOU  CIN        HOU                10                 9
 6          7  HOU  CIN        HOU                10                 9
 7          8  HOU  CIN        HOU                10                 9
 8          9  HOU  CIN        HOU                10                 9
 9         10  HOU  CIN        HOU                10                 9
 10        11  HOU  CIN        HOU                10                 9
 11        12  HOU  CIN        HOU                10                 9
 12        13  HOU  CIN        HOU                10                 9
 13        14  HOU  CIN        HOU                10                 9
 14        15  HOU  CIN        HOU                10                 9
 15        16  HOU  CIN        HOU                10                 9
 16        17  HOU  CIN        HOU                10                 9
 0          1  HOU  CIN        CIN                13                 9
 1          2  HOU  CIN        CIN                13                 9
 2          3  HOU  CIN        CIN                13                 9
 3          4  HOU  CIN        CIN                13                 9
 4          5  HOU  CIN        CIN                13                 9
 5          6  HOU  CIN        CIN                13                 9
 6          7  HOU  CIN        CIN                13                 9
 0          1  HOU  CIN        HOU                13                 9
 1          2  HOU  CIN        HOU                13                 9
 2          3  HOU  CIN        HOU                13                 9
 3          4  HOU  CIN        HOU                13                 9
 4          5  HOU  CIN        HOU                13                 9
 5          6  HOU  CIN        HOU                13                 9
 6          7  HOU  CIN        HOU                13                 9
 7          8  HOU  CIN        HOU                13                 9
 0          1  HOU  CIN        CIN                13                 9
 1          2  HOU  CIN        CIN                13                 9

    home_score_after away_score_after  drive_num
 0                 0                0          0
 1                 0                0          0
 2                 0                0          0
 3                 0                0          0
 4                 0                0          0
 0                 0                0          1
 1                 0                0          1
 2                 0                0          1
 3                 0                0          1
 4                 0                0          1
 5                 0                0          1
 0                 0                0          2
 1                 0                0          2
 2                 0                0          2
 3                 0                0          2
 0                 0                0          3
 1                 0                0          3
 2                 0                0          3
 3                 0                0          3
 4                 0                0          3
 0                 0                0          4
 1                 0                0          4
 2                 0                0          4
 3                 0                0          4
 4                 0                0          4
 5                 0                0          4
 6                 0                0          4
 0                 0                0          5
 1                 0                0          5
 0                 3                0          6
 ..              ...              ...        ...
 4                13                9         23
 5                13                9         23
 6                13                9         23
 7                13                9         23
 8                13                9         23
 9                13                9         23
 10               13                9         23
 11               13                9         23
 12               13                9         23
 13               13                9         23
 14               13                9         23
 15               13                9         23
 16               13                9         23
 0                13                9         24
 1                13                9         24
 2                13                9         24
 3                13                9         24
 4                13                9         24
 5                13                9         24
 6                13                9         24
 0                13                9         25
 1                13                9         25
 2                13                9         25
 3                13                9         25
 4                13                9         25
 5                13                9         25
 6                13                9         25
 7                13                9         25
 0                13                9         26
 1                13                9         26

 [177 rows x 11 columns],
    away away_score_after away_score_before  drive home home_score_after  \
 0   CIN                0                 0      0  HOU                0
 1   CIN                0                 0      1  HOU                0
 2   CIN                0                 0      2  HOU                0
 3   CIN                0                 0      3  HOU                0
 4   CIN                0                 0      4  HOU                0
 5   CIN                0                 0      5  HOU                0
 6   CIN                0                 0      6  HOU                3
 7   CIN                3                 0      7  HOU                3
 8   CIN                3                 3      8  HOU                3
 9   CIN                3                 3      9  HOU                3
 10  CIN                3                 3     10  HOU                3
 11  CIN                3                 3     11  HOU                3
 12  CIN                3                 3     12  HOU               10
 13  CIN                6                 3     13  HOU               10
 14  CIN                6                 6     14  HOU               10
 15  CIN                9                 6     16  HOU               10
 16  CIN                9                 9     17  HOU               10
 17  CIN                9                 9     18  HOU               10
 18  CIN                9                 9     19  HOU               10
 19  CIN                9                 9     20  HOU               10
 20  CIN                9                 9     21  HOU               10
 21  CIN                9                 9     22  HOU               10
 22  CIN                9                 9     23  HOU               13
 23  CIN                9                 9     24  HOU               13
 24  CIN                9                 9     25  HOU               13
 25  CIN                9                 9     26  HOU               13

    home_score_before offense plays       result  time yds_gained
 0                  0     HOU     3         Punt  1:01          4
 1                  0     CIN     4         Punt  1:59         -7
 2                  0     HOU     3         Punt  1:53          7
 3                  0     CIN     3         Punt  1:52          9
 4                  0     HOU     5         Punt  3:02          8
 5                  0     CIN     1       Fumble  0:41          7
 6                  0     HOU     6   Field Goal  3:04         12
 7                  3     CIN     5   Field Goal  2:44         43
 8                  3     HOU     6         Punt  3:24         13
 9                  3     CIN     6         Punt  3:03         28
 10                 3     HOU     3         Punt  2:01          9
 11                 3     CIN     3         Punt  0:46          7
 12                 3     HOU     9    Touchdown  3:40         94
 13                10     CIN     6   Field Goal  0:48         64
 14                10     HOU     0  End of Half  0:02          0
 15                10     CIN    17   Field Goal  8:34         63
 16                10     HOU     7         Punt  3:24         24
 17                10     CIN     6         Punt  2:30         28
 18                10     HOU     3         Punt  1:52          7
 19                10     CIN     5         Punt  2:25         15
 20                10     HOU     3         Punt  1:22          0
 21                10     CIN     3         Punt  1:33          2
 22                10     HOU    13   Field Goal  6:24         66
 23                13     CIN     5        Downs  0:48         13
 24                13     HOU     3         Punt  1:06          4
 25                13     CIN     1  End of Game  0:02          8  )

In [9]:
games_df = weekly_games(2017,2)
(games_df, drives_df, plays_df) = scrape_gameset(games_df)

400951620
400951632
400951636
400951639
400951643
400951645
400951630
400951635
400951626
400951669
400951666
400951673
400951674
400951676
400951679
400951681

In [10]:
games_df

                        result  season  week home away
gameid
400951620        HOU 13, CIN 9    2017     2  HOU  CIN
400951632  ARI 16, IND 13 (OT)    2017     2  ARI  IND
400951636        KC 27, PHI 20    2017     2  PHI   KC
400951639         NE 36, NO 20    2017     2   NE   NO
400951643        PIT 26, MIN 9    2017     2  MIN  PIT
400951645         TB 29, CHI 7    2017     2  CHI   TB
400951630         CAR 9, BUF 3    2017     2  BUF  CAR
400951635       TEN 37, JAX 16    2017     2  TEN  JAX
400951626       BAL 24, CLE 10    2017     2  CLE  BAL
400951669       OAK 45, NYJ 20    2017     2  NYJ  OAK
400951666       MIA 19, LAC 17    2017     2  MIA  LAC
400951673       DEN 42, DAL 17    2017     2  DAL  DEN
400951674       WSH 27, LAR 20    2017     2  WSH  LAR
400951676         SEA 12, SF 9    2017     2   SF  SEA
400951679        ATL 34, GB 23    2017     2   GB  ATL
400951681       DET 24, NYG 10    2017     2  DET  NYG

In [21]:
# One-time use to get gameids history
weekly_dfs = []
for season in range(2000,2018):
    for week in range(1,18):
        print(season,": week",week)
        df = read_espn.weekly_games(season,week)
        weekly_dfs.append(df)
        time.sleep(0.25)
        
game_history_df = pd.concat(weekly_dfs)
game_history_df

2000 : week 1
2000 : week 2
2000 : week 3
2000 : week 4
2000 : week 5
2000 : week 6
2000 : week 7
2000 : week 8
2000 : week 9
2000 : week 10
2000 : week 11
2000 : week 12
2000 : week 13
2000 : week 14
2000 : week 15
2000 : week 16
2000 : week 17
2001 : week 1
2001 : week 2
2001 : week 3
2001 : week 4
2001 : week 5
2001 : week 6
2001 : week 7
2001 : week 8
2001 : week 9
2001 : week 10
2001 : week 11
2001 : week 12
2001 : week 13
2001 : week 14
2001 : week 15
2001 : week 16
2001 : week 17
2002 : week 1
2002 : week 2
2002 : week 3
2002 : week 4
2002 : week 5
2002 : week 6
2002 : week 7
2002 : week 8
2002 : week 9
2002 : week 10
2002 : week 11
2002 : week 12
2002 : week 13
2002 : week 14
2002 : week 15
2002 : week 16
2002 : week 17
2003 : week 1
2003 : week 2
2003 : week 3
2003 : week 4
2003 : week 5
2003 : week 6
2003 : week 7
2003 : week 8
2003 : week 9
2003 : week 10
2003 : week 11
2003 : week 12
2003 : week 13
2003 : week 14
2003 : week 15
2003 : week 16
2003 : week 17
2004 : week 1
2004 : week 2
2004 : week 3
2004 : week 4
2004 : week 5
2004 : week 6
2004 : week 7
2004 : week 8
2004 : week 9
2004 : week 10
2004 : week 11
2004 : week 12
2004 : week 13
2004 : week 14
2004 : week 15
2004 : week 16
2004 : week 17
2005 : week 1
2005 : week 2
2005 : week 3
2005 : week 4
2005 : week 5
2005 : week 6
2005 : week 7
2005 : week 8
2005 : week 9
2005 : week 10
2005 : week 11
2005 : week 12
2005 : week 13
2005 : week 14
2005 : week 15
2005 : week 16
2005 : week 17
2006 : week 1
2006 : week 2
2006 : week 3
2006 : week 4
2006 : week 5
2006 : week 6
2006 : week 7
2006 : week 8
2006 : week 9
2006 : week 10
2006 : week 11
2006 : week 12
2006 : week 13
2006 : week 14
2006 : week 15
2006 : week 16
2006 : week 17
2007 : week 1
2007 : week 2
2007 : week 3
2007 : week 4
2007 : week 5
2007 : week 6
2007 : week 7
2007 : week 8
2007 : week 9
2007 : week 10
2007 : week 11
2007 : week 12
2007 : week 13
2007 : week 14
2007 : week 15
2007 : week 16
2007 : week 17
2008 : week 1
2008 : week 2
2008 : week 3
2008 : week 4
2008 : week 5
2008 : week 6
2008 : week 7
2008 : week 8
2008 : week 9
2008 : week 10
2008 : week 11
2008 : week 12
2008 : week 13
2008 : week 14
2008 : week 15
2008 : week 16
2008 : week 17
2009 : week 1
2009 : week 2
2009 : week 3
2009 : week 4
2009 : week 5
2009 : week 6
2009 : week 7
2009 : week 8
2009 : week 9
2009 : week 10
2009 : week 11
2009 : week 12
2009 : week 13
2009 : week 14
2009 : week 15
2009 : week 16
2009 : week 17
2010 : week 1
2010 : week 2
2010 : week 3
2010 : week 4
2010 : week 5
2010 : week 6
2010 : week 7
2010 : week 8
2010 : week 9
2010 : week 10
2010 : week 11
2010 : week 12
2010 : week 13
2010 : week 14
2010 : week 15
2010 : week 16
2010 : week 17
2011 : week 1
2011 : week 2
2011 : week 3
2011 : week 4
2011 : week 5
2011 : week 6
2011 : week 7
2011 : week 8
2011 : week 9
2011 : week 10
2011 : week 11
2011 : week 12
2011 : week 13
2011 : week 14
2011 : week 15
2011 : week 16
2011 : week 17
2012 : week 1
2012 : week 2
2012 : week 3
2012 : week 4
2012 : week 5
2012 : week 6
2012 : week 7
2012 : week 8
2012 : week 9
2012 : week 10
2012 : week 11
2012 : week 12
2012 : week 13
2012 : week 14
2012 : week 15
2012 : week 16
2012 : week 17
2013 : week 1
2013 : week 2
2013 : week 3
2013 : week 4
2013 : week 5
2013 : week 6
2013 : week 7
2013 : week 8
2013 : week 9
2013 : week 10
2013 : week 11
2013 : week 12
2013 : week 13
2013 : week 14
2013 : week 15
2013 : week 16
2013 : week 17
2014 : week 1
2014 : week 2
2014 : week 3
2014 : week 4
2014 : week 5
2014 : week 6
2014 : week 7
2014 : week 8
2014 : week 9
2014 : week 10
2014 : week 11
2014 : week 12
2014 : week 13
2014 : week 14
2014 : week 15
2014 : week 16
2014 : week 17
2015 : week 1
2015 : week 2
2015 : week 3
2015 : week 4
2015 : week 5
2015 : week 6
2015 : week 7
2015 : week 8
2015 : week 9
2015 : week 10
2015 : week 11
2015 : week 12
2015 : week 13
2015 : week 14
2015 : week 15
2015 : week 16
2015 : week 17
2016 : week 1
2016 : week 2
2016 : week 3
2016 : week 4
2016 : week 5
2016 : week 6
2016 : week 7
2016 : week 8
2016 : week 9
2016 : week 10
2016 : week 11
2016 : week 12
2016 : week 13
2016 : week 14
2016 : week 15
2016 : week 16
2016 : week 17
2017 : week 1
2017 : week 2
2017 : week 3
2017 : week 4
2017 : week 5
2017 : week 6
2017 : week 7
2017 : week 8
2017 : week 9
2017 : week 10
2017 : week 11
2017 : week 12
2017 : week 13
2017 : week 14
2017 : week 15
2017 : week 16
2017 : week 17

                       result  season  week
gameid
200903001       ATL 36, SF 28    2000     1
200903005       JAX 27, CLE 7    2000     1
200903012       IND 27, KC 14    2000     1
200903016      MIN 30, CHI 27    2000     1
200903017        TB 21, NE 16    2000     1
200903018       DET 14, NO 10    2000     1
200903019      NYG 21, ARI 16    2000     1
200903023       BAL 16, PIT 0    2000     1
200903028      WSH 20, CAR 17    2000     1
200903006      PHI 41, DAL 14    2000     1
200903009       NYJ 20, GB 16    2000     1
200903013         OAK 9, SD 6    2000     1
200903015       MIA 23, SEA 0    2000     1
200903002      BUF 16, TEN 13    2000     1
200904014      STL 41, DEN 36    2000     1
200910011      OAK 38, IND 31    2000     2
200910002       BUF 27, GB 18    2000     2
200910004       CLE 24, CIN 7    2000     2
200910010  TEN 17, KC 14 (OT)    2000     2
200910016       MIN 13, MIA 7    2000     2
200910021      NYG 33, PHI 18    2000     2
200910027        TB 41, CHI 0    2000     2
200910033      BAL 39, JAX 36    2000     2
200910007      DEN 42, ATL 14    2000     2
200910008      DET 15, WSH 10    2000     2
200910024        NO 28, SD 27    2000     2
200910025       CAR 38, SF 22    2000     2
200910026      STL 37, SEA 34    2000     2
200910022      ARI 32, DAL 31    2000     2
200911020       NYJ 20, NE 19    2000     2
...                       ...     ...   ...
400951617       CHI 20, CLE 3    2017    16
400951621      CIN 26, DET 17    2017    16
400951667      LAR 27, TEN 23    2017    16
400951625       KC 29, MIA 13    2017    16
400951631       NE 37, BUF 16    2017    16
400951637       NO 23, ATL 13    2017    16
400951642       LAC 14, NYJ 7    2017    16
400951671      WSH 27, DEN 11    2017    16
400951613       CAR 22, TB 19    2017    16
400951675       SF 44, JAX 33    2017    16
400951709      SEA 21, DAL 12    2017    16
400951682       ARI 23, NYG 0    2017    16
400951714       PIT 34, HOU 6    2017    16
400951719      PHI 19, OAK 10    2017    16
400951741       DET 35, GB 11    2017    17
400951745      IND 22, HOU 13    2017    17
400951750      MIN 23, CHI 10    2017    17
400951756        NE 26, NYJ 6    2017    17
400951757      NYG 18, WSH 10    2017    17
400951759        DAL 6, PHI 0    2017    17
400951762      PIT 28, CLE 24    2017    17
400951734      ATL 22, CAR 10    2017    17
400951789       KC 27, DEN 24    2017    17
400951788      TEN 15, JAX 10    2017    17
400951792       SF 34, LAR 13    2017    17
400951748      BUF 22, MIA 16    2017    17
400951791      LAC 30, OAK 10    2017    17
400951793      ARI 26, SEA 24    2017    17
400951764        TB 31, NO 24    2017    17
400951739      CIN 31, BAL 27    2017    17

[4594 rows x 3 columns]

In [22]:
histfile = "/home/welced12/googledrive/nfl_data/devl/espn_gamedata.json"
game_history_df.to_json(histfile)

In [23]:
read_hist = pd.read_json(histfile, convert_axes=False)
read_hist.tail(10)

                   result  season  week
400951810  CIN 20, DEN 17    2017    11
400951811   LAR 42, SEA 7    2017    15
400951812   NE 27, PIT 24    2017    15
400951813   SF 25, TEN 23    2017    15
400951814  DAL 20, OAK 17    2017    15
400951815    NE 33, OAK 8    2017    11
400951816   ATL 24, TB 21    2017    15
400951817   PHI 37, DAL 9    2017    11
400951818  ATL 34, SEA 31    2017    11
400981391   TB 30, MIA 20    2017    11

In [24]:
# Add a week to existing game history
new_week = read_espn.weekly_games(2018,1)
new_week

          result  season  week
gameid
401030710     []    2018     1
401030718     []    2018     1
401030717     []    2018     1
401030716     []    2018     1
401030715     []    2018     1
401030714     []    2018     1
401030713     []    2018     1
401030712     []    2018     1
401030711     []    2018     1
401030720     []    2018     1
401030721     []    2018     1
401030725     []    2018     1
401030723     []    2018     1
401030726     []    2018     1
401030728     []    2018     1
401030751     []    2018     1

In [53]:
# Update plan
# Get week's new gameids
# Scrape pages for new games, saving progress over existing json files
def update_json(filename, df):
    # Check for existing file
    if os.path.isfile(filename):
        read_df = pd.read_json(filename, convert_axes=False)
        # Merge new results over what's in the file
        for gid in df.index:
            read_df.loc[gid] = df.loc[gid,:]
    else:
        read_df = df
    # Write DataFrame to json file
    read_df.to_json(filename)

def big_update(season,week):
    
    # Get games that occur(red)
    weeks_games = read_espn.weekly_games(season,week)
    # Scrape individual pages for those games
    (games_df, drives_df, pbp_df) = scrape_gameset(weeks_games)
    
    # Update game history file
    filesdir = "/home/welced12/googledrive/nfl_data/devl/"
    games_file = filesdir+"espn_gamedata.json"
    drives_file = filesdir+"espn_drives.json"
    pbp_file = filesdir+"espn_rawplays.json"
    print(games_df.head(5))
    update_json(games_file, games_df)

    print(drives_df.head(5))
    update_json(drives_file, drives_df)
    
    print(pbp_df.head(5))
    print(pbp_df.columns)
    update_json(pbp_file, pbp_df)

In [54]:
big_update(2017,2)

400951620
400951632
400951636
400951639
400951643
400951645
400951630
400951635
400951626
400951669
400951666
400951673
400951674
400951676
400951679
400951681
                        result  season  week home away
gameid
400951620        HOU 13, CIN 9    2017     2  HOU  CIN
400951632  ARI 16, IND 13 (OT)    2017     2  ARI  IND
400951636        KC 27, PHI 20    2017     2  PHI   KC
400951639         NE 36, NO 20    2017     2   NE   NO
400951643        PIT 26, MIN 9    2017     2  MIN  PIT
  away away_score_after away_score_before  drive home home_score_after  \
0  CIN                0                 0      0  HOU                0
1  CIN                0                 0      1  HOU                0
2  CIN                0                 0      2  HOU                0
3  CIN                0                 0      3  HOU                0
4  CIN                0                 0      4  HOU                0

  home_score_before offense plays result  time yds_gained     gameid
0                 0     HOU     3   Punt  1:01          4  400951620
1                 0     CIN     4   Punt  1:59         -7  400951620
2                 0     HOU     3   Punt  1:53          7  400951620
3                 0     CIN     3   Punt  1:52          9  400951620
4                 0     HOU     5   Punt  3:02          8  400951620

ValueError: cannot set a row with mismatched columns

In [39]:
x = big_update(2017,3)
x[(x.season==2017) & (x.week==3)]

400951568
400951579
400951583
400951590
400951594
400951599
400951604
400951607
400951611
400951616
400951587
400951623
400951627
400951634
400951644
400951668

                        result  season  week
400951568        LAR 41, SF 39    2017     3
400951579        JAX 44, BAL 7    2017     3
400951583       BUF 26, DEN 16    2017     3
400951587        NO 34, CAR 13    2017     3
400951590  CHI 23, PIT 17 (OT)    2017     3
400951594       ATL 30, DET 26    2017     3
400951599       IND 31, CLE 28    2017     3
400951604        MIN 34, TB 17    2017     3
400951607        NE 36, HOU 33    2017     3
400951611        NYJ 20, MIA 6    2017     3
400951616       PHI 27, NYG 24    2017     3
400951623       TEN 33, SEA 27    2017     3
400951627   GB 27, CIN 24 (OT)    2017     3
400951634        KC 24, LAC 10    2017     3
400951644       WSH 27, OAK 10    2017     3
400951668       DAL 28, ARI 17    2017     3

In [2]:
import time
import read_espn
import pandas as pd
import os
import sys


def update_json(filename, df):
    # Check for existing json file consisting of a single DataFrame
    if os.path.isfile(filename):
        read_df = pd.read_json(filename, convert_axes=False)
        # Write new results on top of those from file
        for gid in df.index:
            read_df.loc[gid] = df.loc[gid,:]
    else:
        read_df = df

    # Write DataFrame to json file
    read_df.to_json(filename)


def big_update(season, week):

    # Get games that occur(red)
    weeks_games = read_espn.weekly_games(season, week)
    # Scrape individual pages for those games
    (games_df, drives_df, pbp_df) = read_espn.scrape_gameset(weeks_games)

    # Update existing results
    filesdir = "/home/welced12/googledrive/nfl_data/devl/"
    games_file = filesdir+"espn_gamedata.json"
    drives_file = filesdir+"espn_drives.json"
    pbp_file = filesdir+"espn_rawplays.json"
    print(games_df.head(5))
    print(drives_df.head(5))
    print(pbp_df.head(5))
    update_json(games_file, games_df)
    update_json(drives_file, drives_df)
    update_json(pbp_file, pbp_df)

In [11]:
read_df = pd.read_json("/home/welced12/googledrive/nfl_data/devl/espn_drives.json",
                       convert_axes=False)

In [10]:
read_df

,downdist,detail,play_num,home,away,possession,home_score_before,away_score_before,home_score_after,away_score_after,drive_num,gameid
320905019-0,[1st & 10 at NYG 16],(14:56 - 1st) E.Manning pass incomplete deep l...,1,DAL,NYG,NYG,0,0,0,0,0,320905019
320905019-1,[2nd & 10 at NYG 16],(14:49 - 1st) E.Manning pass short middle to V...,2,DAL,NYG,NYG,0,0,0,0,0,320905019
320905019-10,[3rd & 5 at NYG 18],(10:50 - 1st) E.Manning pass deep left to V.C...,3,DAL,NYG,NYG,0,0,0,0,2,320905019
320905019-100,[2nd & 5 at NYG 23],(15:00 - 4th) E.Manning pass incomplete short ...,3,DAL,NYG,NYG,17,10,17,10,15,320905019
320905019-101,[3rd & 5 at NYG 23],(14:55 - 4th) E.Manning pass incomplete short...,4,DAL,NYG,NYG,17,10,17,10,15,320905019
320905019-102,[1st & 10 at NYG 38],(14:49 - 4th) A.Bradshaw right tackle to NYG 3...,5,DAL,NYG,NYG,17,10,17,10,15,320905019
320905019-103,[2nd & 10 at NYG 38],(14:13 - 4th) E.Manning pass short right to B....,6,DAL,NYG,NYG,17,10,17,10,15,320905019
320905019-104,[3rd & 4 at NYG 44],(13:28 - 4th) E.Manning sacked at NYG 39 for ...,7,DAL,NYG,NYG,17,10,17,10,15,320905019
320905019-105,[4th & 9 at NYG 39],(13:17 - 4th) S.Weatherford punts 46 yards to ...,8,DAL,NYG,NYG,17,10,17,10,15,320905019
320905019-106,[1st & 10 at DAL 18],(13:03 - 4th) D.Murray up the middle to DAL 23...,1,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-107,[2nd & 10 at DAL 18],(12:00 - 4th) T.Romo pass short left to K.Ogl...,2,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-108,[1st & 10 at DAL 32],(11:27 - 4th) D.Murray left tackle to DAL 37 f...,3,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-109,[2nd & 5 at DAL 37],(10:46 - 4th) T.Romo pass deep right to M.Aust...,4,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-11,[1st & 10 at NYG 44],(10:20 - 1st) E.Manning pass short middle to M...,4,DAL,NYG,NYG,0,0,0,0,2,320905019
320905019-110,[1st & 10 at NYG 43],(10:11 - 4th) D.Murray left tackle to NYG 34 f...,5,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-111,[2nd & 1 at NYG 34],(9:33 - 4th) D.Murray right guard to NYG 38 fo...,6,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-112,[1st & 15 at NYG 34],(8:45 - 4th) T.Romo pass short right to M.Aus...,7,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-113,[2nd & 5 at NYG 24],(8:04 - 4th) D.Murray left tackle to NYG 22 fo...,8,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-114,[2nd & 10 at NYG 29],(7:48 - 4th) D.Murray left tackle to NYG 14 fo...,9,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-115,[1st & 10 at NYG 14],(7:08 - 4th) D.Murray left end to NYG 11 for 3...,10,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-116,[1st & 20 at NYG 24],(6:39 - 4th) T.Romo pass short right to K.Ogle...,11,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-117,[1st & 30 at NYG 34],(6:12 - 4th) T.Romo pass deep left to M.Austin...,12,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-118,[& -1 at NYG 2],"(5:57 - 4th) D.Bailey extra point is GOOD, Cen...",13,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-119,[& -1 at DAL 35],(5:57 - 4th) D.Bailey kicks 63 yards from DAL ...,14,DAL,NYG,DAL,17,10,24,10,16,320905019
320905019-12,[2nd & 6 at NYG 48],(9:12 - 1st) E.Manning pass short right to M.B...,5,DAL,NYG,NYG,0,0,0,0,2,320905019
320905019-120,[1st & 10 at NYG 21],(5:51 - 4th) E.Manning pass short middle to A...,1,DAL,NYG,NYG,24,10,24,17,17,320905019
320905019-121,[2nd & 1 at NYG 30],"(5:21 - 4th) (No Huddle, Shotgun) E.Manning pa...",2,DAL,NYG,NYG,24,10,24,17,17,320905019
320905019-122,[3rd & 1 at NYG 30],(5:14 - 4th) A.Bradshaw right guard to DAL 37...,3,DAL,NYG,NYG,24,10,24,17,17,320905019
320905019-123,[1st & 10 at DAL 37],"(4:44 - 4th) (No Huddle, Shotgun) E.Manning pa...",4,DAL,NYG,NYG,24,10,24,17,17,320905019
320905019-124,[2nd & 10 at DAL 37],(4:38 - 4th) E.Manning pass incomplete deep l...,5,DAL,NYG,NYG,24,10,24,17,17,320905019
...,...,...,...,...,...,...,...,...,...,...,...,...
320910033-72,[1st & 10 at BAL 15],(1:28 - 2nd) B.Green-Ellis right tackle to BLT...,10,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-73,[2nd & 7 at BAL 12],(0:50 - 2nd) A.Dalton pass short right to J.G...,11,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-74,[3rd & 1 at BAL 6],(0:35 - 2nd) Timeout #1 by CIN at 00:35.,12,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-75,[3rd & 1 at BAL 6],(0:35 - 2nd) Timeout #2 by BLT at 00:35.,13,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-76,[3rd & 1 at BAL 6],(0:35 - 2nd) A.Dalton pass incomplete short ri...,14,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-77,[& -1 at BAL 0],(0:27 - 2nd) Timeout #3 by BLT at 00:27.,15,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-78,[4th & 1 at BAL 6],(0:27 - 2nd) B.Green-Ellis left guard for 6 ya...,16,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-79,[& -1 at BAL 2],"(0:18 - 2nd) M.Nugent extra point is GOOD, Cen...",17,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-8,[3rd & 7 at CIN 24],(12:04 - 1st) A.Dalton pass incomplete short ...,3,CIN,BAL,CIN,0,3,0,3,1,320910033
320910033-80,[& -1 at CIN 35],(0:18 - 2nd) M.Nugent kicks 68 yards from CIN ...,18,CIN,BAL,CIN,3,17,10,17,7,320910033
320910033-81,[1st & 10 at BAL 11],(0:18 - 2nd) J.Flacco kneels to BLT 10 for -1 ...,1,CIN,BAL,BAL,10,17,10,17,8,320910033
320910033-82,[& -1 at BAL 35],(15:00 - 3rd) J.Tucker kicks 74 yards from BLT...,1,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-83,[1st & 10 at CIN 20],(15:00 - 3rd) A.Dalton pass short left to A.Gr...,2,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-84,[1st & 10 at CIN 34],(14:21 - 3rd) B.Green-Ellis left guard to CIN ...,3,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-85,[2nd & 1 at CIN 43],(13:50 - 3rd) B.Green-Ellis left tackle to CIN...,4,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-86,[1st & 10 at CIN 45],(13:16 - 3rd) A.Dalton pass deep right to A.G...,5,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-87,[1st & 10 at BAL 38],(12:34 - 3rd) B.Green-Ellis left tackle to BLT...,6,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-88,[2nd & 8 at BAL 36],(11:59 - 3rd) A.Dalton pass short right to A....,7,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-89,[1st & 10 at BAL 25],(11:35 - 3rd) B.Leonard up the middle to BLT 2...,8,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-9,[4th & 7 at CIN 24],(11:59 - 1st) (Punt formation) K.Huber punts 3...,4,CIN,BAL,CIN,0,3,0,3,1,320910033
320910033-90,[2nd & 7 at BAL 22],(10:57 - 3rd) A.Dalton pass short left to A.Ha...,9,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-91,[1st & Goal at BAL 8],(10:30 - 3rd) B.Green-Ellis left guard to BLT ...,10,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-92,[2nd & Goal at BAL 7],(9:51 - 3rd) A.Dalton pass incomplete short m...,11,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-93,[3rd & Goal at BAL 7],(9:47 - 3rd) A.Dalton up the middle to BLT 1 ...,12,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-94,[4th & 1 at BAL 1],(9:47 - 3rd) (Field Goal formation) M.Nugent 1...,13,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-95,[& -1 at CIN 35],(8:59 - 3rd) M.Nugent kicks 68 yards from CIN ...,14,CIN,BAL,CIN,10,17,13,17,10,320910033
320910033-96,[1st & 15 at BAL 6],"(8:54 - 3rd) PENALTY on BAL- T. Smith, False S...",1,CIN,BAL,BAL,13,17,13,24,11,320910033
320910033-97,[1st & 10 at BAL 29],(8:24 - 3rd) J.Flacco pass short left to D.Pi...,2,CIN,BAL,BAL,13,17,13,24,11,320910033
320910033-98,[2nd & 7 at BAL 32],(7:59 - 3rd) J.Flacco pass incomplete short l...,3,CIN,BAL,BAL,13,17,13,24,11,320910033
320910033-99,[1st & 10 at BAL 38],(7:54 - 3rd) J.Flacco pass incomplete short mi...,4,CIN,BAL,BAL,13,17,13,24,11,320910033