In [10]:
import pandas as pd
import numpy as np
import math

In [2]:
gamedata_df = pd.read_csv('/home/welced12/git/football_analytics/data/espn_gamedata2009-2016.csv')

In [3]:
gamedata_df.head(5)

,gameId,result,season,week,home,away,winner,home_score,away_score,OT
0,290910023,"PIT 13, TEN 10 (OT)",2009,1,TEN,PIT,PIT,10,13,1
1,290913001,"ATL 19, MIA 7",2009,1,MIA,ATL,ATL,7,19,0
2,290913004,"DEN 12, CIN 7",2009,1,DEN,CIN,DEN,12,7,0
3,290913005,"MIN 34, CLE 20",2009,1,MIN,CLE,MIN,34,20,0
4,290913011,"IND 14, JAX 12",2009,1,JAX,IND,IND,12,14,0

In [4]:
teams = gamedata_df['home'].unique()
teams

array(['TEN', 'MIA', 'DEN', 'MIN', 'JAX', 'DET', 'DAL', 'PHI', 'KC', 'NYJ',
       'WSH', 'SF', 'STL', 'CHI', 'BUF', 'SD', 'CAR', 'CIN', 'HOU', 'OAK',
       'NE', 'NO', 'ARI', 'TB', 'SEA', 'PIT', 'CLE', 'BAL', 'NYG', 'IND',
       'GB', 'ATL', nan, 'LAR'], dtype=object)

In [7]:
# Define some functions that will be part of ELO ratings
def win_prob(home_elo,away_elo):
    exponent = (home_elo + 65 - away_elo)/400
    home_prob = 1 / ( 10**( -1 * exponent ) + 1 )
    away_prob = 1 / ( 10**(  1 * exponent ) + 1 )
    return (home_prob,away_prob)

In [8]:
win_prob(1629,1631)

(0.5896835031399501, 0.41031649686004995)

In [9]:
win_prob(1423,1413)

(0.6062878237854281, 0.3937121762145718)

In [42]:
def update_elo(home_elo,away_elo,home_score,away_score):
    # Make sure everything is floats
    home_elo = float(home_elo)
    away_elo = float(away_elo)
    home_score = float(home_score)
    away_score = float(away_score)
    
    # Get probabilities of home/away wins
    p_hw, p_aw = win_prob(home_elo,away_elo)
    
    # Given actual score, figure out how to update ratings
    
    # Big K is a scaling factor for adjustments based on margin of victory
    big_k = 20 * math.log1p( math.fabs(home_score - away_score) ) \
            * 2.2 / (2.2 + 0.001*math.fabs( p_hw - p_aw ))
    
    home_win = 0
    away_win = 1
    if home_score > away_score:
        home_win = 1
        away_win = 0
    elif home_score == away_score:
        home_win = 0.5
        away_win = 0.5
    
    home_adjustment = big_k * (home_win - p_hw)
    away_adjustment = big_k * (away_win - p_aw)
    
    return (home_adjustment,away_adjustment)

In [12]:
update_elo(1629,1631,20,17)

(11.375461470854237, -11.375461470854239)

In [13]:
update_elo(1423,1413,7,33)

(-39.96065401087477, 39.96065401087478)

In [39]:
# Set up dataframe to keep track of ELO history for each team
teams = [x for x in gamedata_df['home'].unique() if str(x) != 'nan']
startval = 1400
start_dict = {(2009,1):{tm:startval for tm in teams}}
elo_hist = pd.DataFrame( start_dict )
elo_hist.head(5)

     2009
        1
ARI  1400
ATL  1400
BAL  1400
BUF  1400
CAR  1400

In [37]:
gamedata_df.set_index('gameId')
gamedata_df

,gameId,result,season,week,home,away,winner,home_score,away_score,OT
0,290910023,"PIT 13, TEN 10 (OT)",2009,1,TEN,PIT,PIT,10,13,1
1,290913001,"ATL 19, MIA 7",2009,1,MIA,ATL,ATL,7,19,0
2,290913004,"DEN 12, CIN 7",2009,1,DEN,CIN,DEN,12,7,0
3,290913005,"MIN 34, CLE 20",2009,1,MIN,CLE,MIN,34,20,0
4,290913011,"IND 14, JAX 12",2009,1,JAX,IND,IND,12,14,0
5,290913018,"NO 45, DET 27",2009,1,DET,NO,NO,27,45,0
6,290913027,"DAL 34, TB 21",2009,1,DAL,TB,DAL,34,21,0
7,290913029,"PHI 38, CAR 10",2009,1,PHI,CAR,PHI,38,10,0
8,290913033,"BAL 38, KC 24",2009,1,KC,BAL,BAL,24,38,0
9,290913034,"NYJ 24, HOU 7",2009,1,NYJ,HOU,NYJ,24,7,0
10,290913019,"NYG 23, WSH 17",2009,1,WSH,NYG,NYG,17,23,0
11,290913022,"SF 20, ARI 16",2009,1,SF,ARI,SF,20,16,0
12,290913026,"SEA 28, STL 0",2009,1,STL,SEA,SEA,0,28,0
13,290913009,"GB 21, CHI 15",2009,1,CHI,GB,GB,15,21,0
14,290914017,"NE 25, BUF 24",2009,1,BUF,NE,NE,24,25,0
15,290914013,"SD 24, OAK 20",2009,1,SD,OAK,SD,24,20,0
16,290920001,"ATL 28, CAR 20",2009,2,CAR,ATL,ATL,20,28,0
17,290920008,"MIN 27, DET 13",2009,2,MIN,DET,MIN,27,13,0
18,290920009,"CIN 31, GB 24",2009,2,CIN,GB,CIN,31,24,0
19,290920010,"HOU 34, TEN 31",2009,2,HOU,TEN,HOU,34,31,0
20,290920012,"OAK 13, KC 10",2009,2,OAK,KC,OAK,13,10,0
21,290920020,"NYJ 16, NE 9",2009,2,NE,NYJ,NYJ,9,16,0
22,290920021,"NO 48, PHI 22",2009,2,NO,PHI,NO,48,22,0
23,290920028,"WSH 9, STL 7",2009,2,STL,WSH,WSH,7,9,0
24,290920030,"ARI 31, JAX 17",2009,2,ARI,JAX,ARI,31,17,0
25,290920002,"BUF 33, TB 20",2009,2,TB,BUF,BUF,20,33,0
26,290920025,"SF 23, SEA 10",2009,2,SEA,SF,SF,10,23,0
27,290920003,"CHI 17, PIT 14",2009,2,PIT,CHI,CHI,14,17,0
28,290920007,"DEN 27, CLE 6",2009,2,CLE,DEN,DEN,6,27,0
29,290920024,"BAL 31, SD 26",2009,2,BAL,SD,BAL,31,26,0
...,...,...,...,...,...,...,...,...,...,...
2019,400874534,"WSH 41, CHI 21",2016,16,WSH,CHI,WSH,41,21,0
2020,400874528,"CLE 20, SD 17",2016,16,SD,CLE,CLE,17,20,0
2021,400874523,"GB 38, MIN 25",2016,16,MIN,GB,GB,25,38,0
2022,400874516,"NE 41, NYJ 3",2016,16,NYJ,NE,NE,3,41,0
2023,400874540,"ATL 33, CAR 16",2016,16,ATL,CAR,ATL,33,16,0
2024,400874521,"JAX 38, TEN 17",2016,16,TEN,JAX,JAX,17,38,0
2025,400874546,"OAK 33, IND 25",2016,16,IND,OAK,OAK,25,33,0
2026,400874575,"SF 22, LAR 21",2016,16,SF,LAR,SF,22,21,0
2027,400874513,"NO 31, TB 24",2016,16,TB,NO,NO,24,31,0
2028,400874571,"ARI 34, SEA 31",2016,16,ARI,SEA,ARI,34,31,0
2029,400874579,"HOU 12, CIN 10",2016,16,CIN,HOU,HOU,10,12,0
2030,400874583,"PIT 31, BAL 27",2016,16,BAL,PIT,PIT,27,31,0
2031,400874585,"KC 33, DEN 10",2016,16,DEN,KC,KC,10,33,0
2032,400874588,"DAL 42, DET 21",2016,16,DET,DAL,DAL,21,42,0
2033,400874608,"CIN 27, BAL 10",2016,17,BAL,CIN,CIN,10,27,0
2034,400874632,"TEN 24, HOU 17",2016,17,HOU,TEN,TEN,17,24,0
2035,400874639,"IND 24, JAX 20",2016,17,JAX,IND,IND,20,24,0
2036,400874642,"NE 35, MIA 14",2016,17,NE,MIA,NE,35,14,0
2037,400874643,"MIN 38, CHI 10",2016,17,CHI,MIN,MIN,10,38,0
2038,400874645,"NYJ 30, BUF 10",2016,17,BUF,NYJ,NYJ,10,30,0
2039,400874647,"PHI 27, DAL 13",2016,17,DAL,PHI,PHI,13,27,0
2040,400874690,"PIT 27, CLE 24 (OT)",2016,17,CLE,PIT,PIT,24,27,1
2041,400874635,"TB 17, CAR 16",2016,17,CAR,TB,TB,16,17,0
2042,400874606,"ATL 38, NO 32",2016,17,NO,ATL,ATL,32,38,0
2043,400874694,"DEN 24, OAK 6",2016,17,OAK,DEN,DEN,6,24,0
2044,400874692,"ARI 44, LAR 6",2016,17,ARI,LAR,ARI,44,6,0
2045,400874696,"KC 37, SD 27",2016,17,KC,SD,KC,37,27,0
2046,400874699,"SEA 25, SF 23",2016,17,SEA,SF,SEA,25,23,0
2047,400874631,"NYG 19, WSH 10",2016,17,NYG,WSH,NYG,19,10,0
2048,400874637,"GB 31, DET 24",2016,17,GB,DET,GB,31,24,0

In [43]:
def get_elo(team,year,week):
    return elo_hist.loc[team,[year,week]]

# Try and update each team based on games in a week.
def update_for_week(year,week):
    relevant_games = gamedata_df.loc[ (gamedata_df['season'] == year) &
                                      (gamedata_df['week'] == week) ]
#    print(relevant_games)

    # make dict for weekly elo change
    elo_delta = {}
    
    for index in relevant_games.index.values:
        game = relevant_games.loc[index]
        print(game)
        home = game['home']
        away = game['away']
        home_score = game['home_score']
        away_score = game['away_score']
        
        # pull elo ratings from elo history
        home_elo = get_elo(home,year,week)
        away_elo = get_elo(away,year,week)
        
        # Run function to calculate change in elo ratings after the week
        elo_change = update_elo(home_elo,
                                away_elo,
                                home_score,
                                away_score )
        
        elo_delta[home] = elo_change[0]
        elo_delta[away] = elo_change[1]
        
    print(elo_delta)
        
# Try running the function for a particular week        
update_for_week(2009,1)

gameId                  290910023
result        PIT 13, TEN 10 (OT)
season                       2009
week                            1
home                          TEN
away                          PIT
winner                        PIT
home_score                     10
away_score                     13
OT                              1
Name: 0, dtype: object
gameId            290913001
result        ATL 19, MIA 7
season                 2009
week                      1
home                    MIA
away                    ATL
winner                  ATL
home_score                7
away_score               19
OT                        0
Name: 1, dtype: object
gameId            290913004
result        DEN 12, CIN 7
season                 2009
week                      1
home                    DEN
away                    CIN
winner                  DEN
home_score               12
away_score                7
OT                        0
Name: 2, dtype: object
gameId             290913005
result        MIN 34, CLE 20
season                  2009
week                       1
home                     MIN
away                     CLE
winner                   MIN
home_score                34
away_score                20
OT                         0
Name: 3, dtype: object
gameId             290913011
result        IND 14, JAX 12
season                  2009
week                       1
home                     JAX
away                     IND
winner                   IND
home_score                12
away_score                14
OT                         0
Name: 4, dtype: object
gameId            290913018
result        NO 45, DET 27
season                 2009
week                      1
home                    DET
away                     NO
winner                   NO
home_score               27
away_score               45
OT                        0
Name: 5, dtype: object
gameId            290913027
result        DAL 34, TB 21
season                 2009
week                      1
home                    DAL
away                     TB
winner                  DAL
home_score               34
away_score               21
OT                        0
Name: 6, dtype: object
gameId             290913029
result        PHI 38, CAR 10
season                  2009
week                       1
home                     PHI
away                     CAR
winner                   PHI
home_score                38
away_score                10
OT                         0
Name: 7, dtype: object
gameId            290913033
result        BAL 38, KC 24
season                 2009
week                      1
home                     KC
away                    BAL
winner                  BAL
home_score               24
away_score               38
OT                        0
Name: 8, dtype: object
gameId            290913034
result        NYJ 24, HOU 7
season                 2009
week                      1
home                    NYJ
away                    HOU
winner                  NYJ
home_score               24
away_score                7
OT                        0
Name: 9, dtype: object
gameId             290913019
result        NYG 23, WSH 17
season                  2009
week                       1
home                     WSH
away                     NYG
winner                   NYG
home_score                17
away_score                23
OT                         0
Name: 10, dtype: object
gameId            290913022
result        SF 20, ARI 16
season                 2009
week                      1
home                     SF
away                    ARI
winner                   SF
home_score               20
away_score               16
OT                        0
Name: 11, dtype: object
gameId            290913026
result        SEA 28, STL 0
season                 2009
week                      1
home                    STL
away                    SEA
winner                  SEA
home_score                0
away_score               28
OT                        0
Name: 12, dtype: object
gameId            290913009
result        GB 21, CHI 15
season                 2009
week                      1
home                    CHI
away                     GB
winner                   GB
home_score               15
away_score               21
OT                        0
Name: 13, dtype: object
gameId            290914017
result        NE 25, BUF 24
season                 2009
week                      1
home                    BUF
away                     NE
winner                   NE
home_score               24
away_score               25
OT                        0
Name: 14, dtype: object
gameId            290914013
result        SD 24, OAK 20
season                 2009
week                      1
home                     SD
away                    OAK
winner                   SD
home_score               24
away_score               20
OT                        0
Name: 15, dtype: object
{'TEN': -16.425271180521786, 'PIT': 16.425271180521786, 'MIA': -30.39036292882052, 'ATL': 30.39036292882052, 'DEN': 14.602822291311641, 'CIN': -14.602822291311641, 'MIN': 22.07058286661859, 'CLE': -22.07058286661859, 'JAX': -13.016719442651471, 'IND': 13.016719442651471, 'DET': -34.88668068175525, 'NO': 34.88668068175525, 'DAL': 21.50829163333977, 'TB': -21.50829163333977, 'PHI': 27.443428346301435, 'CAR': -27.443428346301435, 'KC': -32.085868752750095, 'BAL': 32.085868752750095, 'NYJ': 23.556501785682237, 'HOU': -23.556501785682237, 'WSH': -23.055782947384373, 'NYG': 23.055782947384373, 'SF': 13.116903372247997, 'ARI': -13.116903372247997, 'STL': -39.89682761739572, 'SEA': 39.89682761739572, 'CHI': -23.055782947384373, 'GB': 23.055782947384373, 'BUF': -8.212635590260893, 'NE': 8.212635590260893, 'SD': 13.116903372247997, 'OAK': -13.116903372247997}