In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
gamedata_df = pd.read_csv('/home/welced12/git/football_analytics/data/espn_gamedata2009-2017.csv')

In [3]:
gamedata_df.tail(5)

,gameId,result,season,week,home,away,winner,home_score,away_score,OT
2301,400951748,"BUF 22, MIA 16",2017,17,NaN,NaN,unknown,unknown,unknown,unknown
2302,400951791,"LAC 30, OAK 10",2017,17,OAK,LAC,LAC,10,30,0
2303,400951793,"ARI 26, SEA 24",2017,17,ARI,SEA,ARI,26,24,0
2304,400951764,"TB 31, NO 24",2017,17,NO,TB,TB,24,31,0
2305,400951739,"CIN 31, BAL 27",2017,17,CIN,BAL,CIN,31,27,0

In [4]:
teams = gamedata_df['home'].unique()
teams

array(['TEN', 'MIA', 'DEN', 'MIN', 'JAX', 'DET', 'DAL', 'PHI', 'KC',
       'NYJ', 'WSH', 'SF', 'STL', 'CHI', 'BUF', 'SD', 'CAR', 'CIN', 'HOU',
       'OAK', 'NE', 'NO', 'ARI', 'TB', 'SEA', 'PIT', 'CLE', 'BAL', 'NYG',
       'IND', 'GB', 'ATL', nan, 'LAR', 'LAC'], dtype=object)

In [5]:
# Define some functions that will be part of ELO ratings
def win_prob(home_elo,away_elo):
    exponent = (home_elo + 65 - away_elo)/400
    home_prob = 1 / ( 10**( -1 * exponent ) + 1 )
    away_prob = 1 / ( 10**(  1 * exponent ) + 1 )
    return (home_prob,away_prob)

In [6]:
win_prob(1629,1631)

(0.5896835031399501, 0.41031649686004995)

In [7]:
win_prob(1423,1413)

(0.6062878237854281, 0.3937121762145718)

In [8]:
def update_elo(home_elo,away_elo,home_score,away_score):
    # Make sure everything is floats
    if home_score == 'unknown':
        return (0,0)
    
    home_elo = float(home_elo)
    away_elo = float(away_elo)
    home_score = float(home_score)
    away_score = float(away_score)
    
    # Get probabilities of home/away wins
    p_hw, p_aw = win_prob(home_elo,away_elo)
    
    # Given actual score, figure out how to update ratings
    
    # Big K is a scaling factor for adjustments based on margin of victory
    big_k = 20 * math.log1p( math.fabs(home_score - away_score) ) \
            * 2.2 / (2.2 + 0.001*math.fabs( p_hw - p_aw ))
    
    home_win = 0
    away_win = 1
    if home_score > away_score:
        home_win = 1
        away_win = 0
    elif home_score == away_score:
        home_win = 0.5
        away_win = 0.5
    
    home_adjustment = big_k * (home_win - p_hw)
    away_adjustment = big_k * (away_win - p_aw)
    
    return (home_adjustment,away_adjustment)

In [9]:
update_elo(1629,1631,20,17)

(11.375461470854237, -11.375461470854239)

In [10]:
update_elo(1423,1413,7,33)

(-39.96065401087477, 39.96065401087478)

In [11]:
# Set up dataframe to keep track of ELO history for each team
teams = [x for x in gamedata_df['home'].unique() if str(x) != 'nan']
startval = 1500
start_dict = {(2009,1):{tm:startval for tm in teams}}
elo_hist = pd.DataFrame( start_dict )
elo_hist.head(5)

     2009
        1
ARI  1500
ATL  1500
BAL  1500
BUF  1500
CAR  1500

In [12]:
def get_elo(team,year,week):
    if isinstance(team, str):
        return elo_hist.loc[team,(year,week)]
    if math.isnan(team):
        return 0

# Try and update each team based on games in a week.
def update_for_week(year,week):
    relevant_games = gamedata_df.loc[ (gamedata_df['season'] == year) &
                                      (gamedata_df['week'] == week) ]
#    print(relevant_games)

    # make dict for weekly elo change
    elo_delta = {}
    
    for index in relevant_games.index.values:
        game = relevant_games.loc[index]
#        print(game)
        home = game['home']
        away = game['away']
        home_score = game['home_score']
        away_score = game['away_score']
        
        # pull elo ratings from elo history
        home_elo = get_elo(home,year,week)
        away_elo = get_elo(away,year,week)
        
        # Run function to calculate change in elo ratings after the week
        elo_change = update_elo(home_elo,
                                away_elo,
                                home_score,
                                away_score )
        
        if not home_elo == 0:
            elo_delta[home] = elo_change[0]
            elo_delta[away] = elo_change[1]
        
    return elo_delta

In [13]:
# Try running the function for a particular week
for wk in range(1,18):
    
    # Add column for this week's rating adjustment
    wkly_update = update_for_week(2009,wk)
    deltaname = str(wk)+'d'
    elo_hist[(2009,deltaname)] = pd.Series(wkly_update)
    # Make adjustment for teams that didn't play zero
    elo_hist.fillna(0, inplace=True)
    
    # Make new column for next week's rating
    elo_hist[(2009,wk+1)] = elo_hist[(2009,wk)] + elo_hist[(2009,deltaname)]
    # Drop column for rating adjustment
    elo_hist.drop( (2009,deltaname), axis=1, inplace=True )

elo_hist.head(5)

     2009                                                                   \
       1            2            3            4            5            6
ARI  1500  1486.883097  1508.961224  1485.071398  1485.071398  1511.015703
ATL  1500  1530.390363  1552.815534  1514.120058  1514.120058  1548.157929
BAL  1500  1532.085869  1545.754017  1576.807128  1550.953701  1538.770775
BUF  1500  1491.787364  1522.074534  1500.482246  1454.544394  1441.335955
CAR  1500  1472.556572  1450.131401  1422.853829  1422.853829  1441.436417

                                                                      \
              7            8            9            10           11
ARI  1537.210078  1555.419196  1524.871258  1548.220232  1572.778873
ATL  1572.657843  1535.643867  1517.397883  1542.509004  1509.786971
BAL  1527.424577  1527.424577  1572.663498  1543.351485  1553.835703
BUF  1455.543885  1475.788861  1454.584257  1454.584257  1414.758541
CAR  1455.442728  1435.197752  1465.745690  1451.385668  1484.107701

                                                                      \
              12           13           14           15           16
ARI  1580.644402  1560.921191  1598.546410  1557.908318  1563.394003
ATL  1492.922243  1504.982829  1483.152018  1479.317422  1492.460136
BAL  1547.319745  1564.460391  1532.792451  1555.558232  1583.370256
BUF  1400.237789  1442.472147  1429.612659  1442.981592  1434.014287
CAR  1467.626570  1438.411555  1462.186138  1441.963216  1491.632151


              17           18
ARI  1578.177895  1554.522625
ATL  1526.767944  1538.086920
BAL  1564.140164  1571.404229
BUF  1399.706479  1454.950739
CAR  1522.821500  1564.555977

In [14]:
for yr in range(2010,2018):
    # Try running the function for a particular week
    for wk in range(1,18):
        
        # if week 1, pull rating from last week of previous season
        # and regress to mean by a third once everything else works
        if wk == 1:
            elo_hist[(yr,1)] = elo_hist[(yr-1,18)] \
                               - 0.3 * (elo_hist[(yr-1,18)] - 1400)
            
#        print(elo_hist.head(5))
    
        # Add column for this week's rating adjustment
        wkly_update = update_for_week(yr,wk)
        deltaname = str(wk)+'d'
        elo_hist[(yr,deltaname)] = pd.Series(wkly_update)
        # Make adjustment for teams that didn't play zero
        elo_hist.fillna(0, inplace=True)
    
        # Make new column for next week's rating
        elo_hist[(yr,wk+1)] = elo_hist[(yr,wk)] + elo_hist[(yr,deltaname)]
        # Drop column for rating adjustment
        elo_hist.drop( (yr,deltaname), axis=1, inplace=True )

elo_hist.head(5)

     2009                                                                   \
       1            2            3            4            5            6
ARI  1500  1486.883097  1508.961224  1485.071398  1485.071398  1511.015703
ATL  1500  1530.390363  1552.815534  1514.120058  1514.120058  1548.157929
BAL  1500  1532.085869  1545.754017  1576.807128  1550.953701  1538.770775
BUF  1500  1491.787364  1522.074534  1500.482246  1454.544394  1441.335955
CAR  1500  1472.556572  1450.131401  1422.853829  1422.853829  1441.436417

                                                            ...       \
              7            8            9            10     ...
ARI  1537.210078  1555.419196  1524.871258  1548.220232     ...
ATL  1572.657843  1535.643867  1517.397883  1542.509004     ...
BAL  1527.424577  1527.424577  1572.663498  1543.351485     ...
BUF  1455.543885  1475.788861  1454.584257  1454.584257     ...
CAR  1455.442728  1435.197752  1465.745690  1451.385668     ...

            2017                                                      \
              9            10           11           12           13
ARI  1352.651744  1361.824563  1352.752232  1323.503373  1343.384249
ATL  1483.707635  1465.070743  1506.053408  1517.609096  1537.347832
BAL  1402.336828  1383.880746  1383.880746  1416.025681  1437.914314
BUF  1475.353055  1434.940388  1412.618396  1370.540076  1395.597263
CAR  1423.881593  1442.518484  1472.038839  1472.038839  1483.240118


              14           15           16           17           18
ARI  1329.366767  1353.887967  1332.443219  1364.244791  1377.486433
ATL  1523.651146  1540.809915  1545.060974  1516.451941  1546.926422
BAL  1476.116404  1469.925582  1474.263724  1484.902386  1465.153492
BUF  1387.062021  1402.743764  1426.826311  1407.354069  1407.354069
CAR  1457.096065  1487.662677  1509.048960  1517.633195  1487.158714

[5 rows x 162 columns]

In [15]:
elo_hist.loc[:,(2017)]

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
ARI,1441.087260,1407.999169,1417.216299,1401.152602,1410.295485,1374.546081,1396.589241,1352.651744,1352.651744,1361.824563,1352.752232,1323.503373,1343.384249,1329.366767,1353.887967,1332.443219,1364.244791,1377.486433
ATL,1495.540438,1501.614953,1532.177249,1542.046453,1519.854176,1519.854176,1502.943916,1474.977327,1483.707635,1465.070743,1506.053408,1517.609096,1537.347832,1523.651146,1540.809915,1545.060974,1516.451941,1546.926422
BAL,1388.879001,1417.887614,1434.657618,1377.420770,1363.010291,1389.164594,1372.317067,1352.739720,1402.336828,1383.880746,1383.880746,1416.025681,1437.914314,1476.116404,1469.925582,1474.263724,1484.902386,1465.153492
BUF,1387.492055,1412.774890,1391.653209,1427.895951,1450.088228,1428.505646,1428.505646,1442.588036,1475.353055,1434.940388,1412.618396,1370.540076,1395.597263,1387.062021,1402.743764,1426.826311,1407.354069,1407.354069
CAR,1437.151502,1448.002793,1469.124474,1434.136670,1450.940377,1462.697276,1449.223916,1405.493407,1423.881593,1442.518484,1472.038839,1472.038839,1483.240118,1457.096065,1487.662677,1509.048960,1517.633195,1487.158714
CHI,1267.428625,1261.354111,1236.181264,1270.897692,1253.600991,1248.132136,1264.979664,1308.710174,1292.831524,1292.831524,1283.512573,1277.583684,1264.072994,1256.989415,1293.694455,1273.145205,1292.903105,1280.968807
CIN,1437.479569,1408.470956,1392.403285,1379.736160,1391.588639,1413.171220,1413.171220,1387.123425,1393.154598,1357.096740,1338.431405,1351.122807,1366.464819,1361.677238,1324.972199,1305.119146,1339.565096,1359.313991
CLE,1216.820255,1213.637593,1196.867588,1186.174413,1174.321934,1169.035828,1152.740181,1147.542177,1142.618903,1142.618903,1130.999031,1124.905767,1109.563756,1102.375353,1098.677870,1094.339727,1074.581827,1072.237808
DAL,1493.819343,1522.869519,1480.550523,1496.614220,1474.190794,1462.954503,1462.954503,1471.377756,1489.208417,1525.585305,1484.602640,1464.017985,1436.345008,1472.236111,1483.677224,1491.642477,1472.273874,1494.681418
DEN,1466.662210,1480.688767,1523.007763,1486.765021,1507.561781,1507.561781,1474.070815,1430.436208,1412.225048,1383.995607,1374.012129,1361.320727,1337.348697,1294.140696,1338.348064,1352.638606,1320.527509,1316.381635
DET,1402.286545,1435.374636,1455.459940,1445.590735,1462.767357,1451.010458,1416.393560,1416.393560,1406.764209,1433.004600,1444.624472,1450.553360,1438.627955,1400.425865,1408.711408,1429.260658,1394.814707,1433.263613
GB,1491.422179,1517.997538,1487.435242,1500.102367,1517.399067,1528.635358,1491.152114,1469.787900,1469.787900,1443.547510,1452.866460,1420.721526,1409.883475,1428.861495,1432.558978,1411.172695,1398.294762,1359.845856
HOU,1380.458184,1344.047240,1360.114912,1351.567753,1399.098142,1391.577685,1407.873331,1407.873331,1395.383067,1372.616983,1340.084817,1369.333675,1347.445043,1319.649646,1291.832682,1265.261036,1258.263305,1228.179922
IND,1404.948662,1351.926179,1342.709049,1353.402224,1322.925542,1334.646746,1300.617481,1276.758351,1270.727177,1293.493261,1289.437785,1289.437785,1279.362667,1253.777415,1238.095673,1223.805130,1213.166468,1243.249851
JAX,1258.910330,1295.321274,1272.674078,1329.910926,1314.053833,1356.721259,1337.037172,1360.896302,1360.896302,1396.954160,1414.068117,1420.161381,1400.280505,1425.865758,1454.756490,1481.328137,1439.037518,1413.664878
KC,1536.398340,1562.476259,1580.202029,1590.020731,1608.093028,1615.613485,1592.020664,1580.646337,1598.857497,1562.480608,1562.480608,1538.458792,1513.401605,1480.215269,1505.104190,1539.013091,1557.433589,1561.579463
LAC,1405.764801,1391.738244,1383.357825,1373.539124,1366.605493,1380.929454,1386.924990,1430.559597,1415.024984,1415.024984,1397.911027,1439.989347,1467.662324,1474.850727,1500.914260,1467.005360,1476.155028,1502.835199
LAR,1298.075423,1351.097905,1336.592990,1342.274686,1364.698113,1354.604946,1374.289034,1418.226530,1418.226530,1442.108098,1474.640264,1443.497863,1471.617771,1485.635253,1471.915311,1505.589854,1512.881801,1468.509423
MIA,1410.712839,1410.712839,1419.093257,1379.157003,1355.505993,1377.170227,1394.080487,1409.103902,1359.506794,1348.662391,1319.142036,1300.824407,1290.528888,1333.736889,1371.232821,1347.150273,1328.729776,1328.729776
MIN,1416.604912,1443.618314,1414.812170,1449.546402,1432.369780,1437.838635,1475.321880,1494.899226,1499.822500,1499.822500,1512.663018,1543.805419,1555.730825,1569.427511,1538.860899,1558.713952,1571.591885,1583.526184
NE,1580.731984,1554.654065,1565.470377,1574.017536,1557.213828,1564.971110,1572.424804,1600.391394,1615.926007,1615.926007,1625.909485,1635.333304,1645.628823,1654.164065,1616.668133,1626.752937,1646.225179,1656.439306
NO,1395.831484,1368.818083,1358.001770,1392.989575,1416.640585,1416.640585,1451.257483,1472.621697,1488.500347,1511.477875,1533.799867,1544.888127,1516.768219,1542.912272,1525.753502,1542.084153,1570.693186,1534.277376
NYG,1437.630667,1408.580490,1388.495186,1373.622137,1360.991034,1346.667073,1380.158038,1364.820443,1364.820443,1340.938876,1302.276115,1326.297932,1302.039519,1283.019914,1271.578800,1267.673268,1235.871696,1270.665245
NYJ,1356.674411,1331.391576,1304.621326,1344.557581,1360.414674,1365.700780,1358.247086,1343.223671,1334.493363,1374.906030,1350.749290,1350.749290,1339.548012,1372.734348,1328.526981,1312.196330,1303.046661,1292.832535
OAK,1446.046243,1459.001561,1485.771812,1445.697834,1424.901075,1398.746772,1392.751236,1404.125564,1371.360546,1382.204949,1382.204949,1372.781130,1396.753160,1415.772765,1390.883844,1382.918590,1367.985204,1341.305033
PHI,1425.048471,1445.848154,1428.122384,1442.995433,1449.929063,1485.678467,1499.151827,1523.323743,1533.866059,1562.095499,1562.095499,1582.680155,1596.190845,1557.795165,1571.515107,1575.420640,1590.354027,1567.946483
PIT,1506.608010,1509.790672,1538.596816,1503.880388,1518.290867,1475.623440,1499.216261,1525.264057,1534.893407,1534.893407,1538.948884,1562.742393,1573.580443,1578.368024,1584.558846,1574.474041,1581.471772,1583.815791
SD,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421,1332.486421
SEA,1500.344470,1473.769110,1480.938404,1451.467107,1481.943790,1492.036956,1492.036956,1507.374551,1519.864815,1503.635767,1512.708098,1501.152411,1506.445622,1544.841302,1515.950569,1482.276026,1501.644629,1488.402988
SF,1236.681892,1225.830601,1218.661307,1212.979611,1203.836728,1192.115523,1186.212814,1177.789560,1167.247245,1158.074426,1196.737186,1196.737186,1191.443975,1198.527554,1226.344517,1243.327115,1285.617734,1329.990111
STL,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970,1390.462970
TB,1395.739175,1395.739175,1420.912022,1386.177790,1398.808894,1391.051612,1369.008452,1354.926062,1336.537876,1313.560347,1337.717087,1356.034716,1336.295979,1317.317960,1309.032417,1304.781359,1296.197124,1332.612934
TEN,1338.435140,1325.479821,1348.127018,1377.598315,1330.067926,1308.403691,1342.432956,1347.630961,1347.630961,1366.087043,1384.752378,1360.958869,1371.033986,1398.829383,1374.308183,1357.325585,1350.033638,1375.406279
WSH,1415.339424,1394.539741,1409.044656,1449.118633,1431.046336,1431.046336,1436.949046,1412.777131,1394.946470,1411.175517,1398.334999,1387.246739,1411.505152,1375.614049,1349.550515,1370.995263,1403.106359,1368.312811

In [16]:
import json

In [17]:
with open("elo_history.json","w") as f:
    json.dump( elo_hist.to_json(orient='index'), f )